.palms{
    background-image: url(podklady/palmy.jpg);
}
.lake{
    background-image: url(podklady/jezero.jpg);
}
.bike{
    background-image: url(podklady/nakole.jpg);
}
.grand{
    background-image: url(podklady/podkova.jpg);
}
.cannary{
    background-image: url(podklady/zatoka.jpg);
}
.mountain{
    background-image: url(podklady/lodicka.jpg);
    order:-1;
}

.destination__rectangle{
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    margin-top: 1rem;
}

.destination__rectangle--price{
    background-color: var(--main-color);
    padding: 10px;
    display: inline-block;
    margin: 0 0 40px 0;
}

.destination__rectangle--decsription{
    font-size: 12px;
}

.bottom{
    display: grid;
}


@media (min-width:481px){
    .destination{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .palms, .mountain{
        grid-column: 1/-1
    }
    .destination__rectangle{
        margin-top: 0;
    }
}

@media (min-width:769px){
    .destination{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .palms, .mountain{
        grid-column: 1/3;
        grid-row: 1/3
    }

}

