@import "menu.css";
@import "destination.css";
@import "codex.css";


html { 
    box-sizing: border-box;
    --main-color: #F03000;
    --second-color: #F0F0F0;
}

*, ::before, ::after { box-sizing: inherit;}

body{
    font-family: 'Montserrat', sans-serif;
    margin:10px;
}



@media (min-width:768px){
    body{
        margin: 0 auto;
        max-width: 1102px;
        padding: 1rem;
    }
}

/* footer */
footer{
    background-color: #444444;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;


}