/* menu */
.menu__nav{    
    color: var(--main-color);
    font-weight: bold;
    display:flex;
    justify-content: space-between;
    margin:10px auto;
    padding: 0;
}
.menu__nav--link{
    list-style-type: none; 
    padding: 15px;
}
.menu__nav--link:hover{
    background-color: var(--main-color);
    color: white;

}

.menu__logo{
    width: max(200px, 300px); 
    padding: 30px;
    margin: 0 auto;
    display: block;
}

@media (min-width:480px){
    .menu{
        display: flex;
        align-items: center;
    }
}